<!DOCTYPE html>
<html lang="en">
  <head>
    <title> &mdash; </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <!-- <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet"> -->
  
    
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    

  
    
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mb-5">

            <div class="mb-5">
              <h3 class="text-black">TAGESKURSE INTENSIV </h3>
              <p class="mb-4">
               <!-- <strong class="text-black mr-3">Schedule: </strong> MWF 9:30 - 11:00-->
              </p>
              <p>

              
              
            
     

               






 

   <ul style="list-style-type: square;"> 
     
   
     
           
  
       <li><strong> Dauer:</strong>  37 Kurstage mit 20 Unterrichtseinheiten pro Woche</li>
       <li><strong>Gesamtvolumen:</strong> 148 Unterrichtseinheiten, die sich auf circa 8 Wochen verteilen</li>
       <li><strong>  Vormittagsunterricht:</strong> Montag bis Freitag, 09:00 bis 12:30 Uhr</li>
       <li><strong>Nachmittagsunterricht:</strong> Montag bis Freitag, 14:00 bis 17:30 Uhr</li>
       <li><strong> Kursbeginn:</strong>  für jede Stufe sechsmal pro Jahr (Januar, März, Mai, Juli, September, November)</li>
       
       
       <li> <strong>Termine der Tageskurse intensiv</strong>
           <ul>
               <li>Preis 2021: 2000 TD</li>
               <li>Preis 2022: 2100 TD</li>
         </ul>

       </li>  
     <li><strong>Mindestanwesenheit  30 Kurstage</strong> <br>
    
   Sie nehmen an einem Vormittags- oder Nachmittagskurs teil. Dabei berücksichtigen wir nach Möglichkeit Ihre Wünsche. Bitte haben Sie Verständnis dafür, dass wir eine bestimmte Tageszeit jedoch nicht garantieren können.
   Es sind folgende Optionen buchbar:
    </li>
            
    <ul style="list-style-type: disc;">
        <li>  Option 1: Tageszeit nach Verfügbarkeit
          Bei dieser Option werden bei der Verteilung der Teilnehmer auf die Vor- und Nacchmittagskurse Wünsche nach Möglichkiet berücksichtigt. 
          Es besteht jedoch kein Anspruch auf einen Kursplatz zu einer bestimmten Tageszeit.
          Preis 2021: 2.000 TD
          Preis 2022: 2.100 TD</li>
        <li>  Option 2: Garantierte Tageszeit
          Bei dieser Option kann gegen einen Aufpreis von 100 TD eine Vormittags- oder Nachmittagsgarantie gebucht werden. 
          Damit erhält der Teilnehmer garantiert einen Festplatz für die gewünschte Kurszeit.
      </li>
    </ul>
   
     
   </ul>




 


      
      Sie können sich online anmelden (Online-Anmeldung unter "Intensivkurse") oder persönlich zu den Bürozeiten.
    Mehr Informationen zur Anmeldung
            


   
             
    
                          
      
      
     <div class="row mb-4">
                <div class="col-md-6">
                 <!--image-->
                </div>
                <div class="col-md-6">
                <!--image-->
                </div>
              </div>
         
         <!--   admission button goes here   <p class="mt-4"><a href="#" class="btn btn-primary">Admission</a></p>-->
            </div>

           


          </div>
          
        </div>
      </div>
    </div>



  
    
  </div> <!-- .site-wrap -->


    
  </body>
</html>













<!--  

TAGESKURSE INTENSIV

* Dauer: 37 Kurstage mit 20 Unterrichtseinheiten pro Woche
* Gesamtvolumen: 148 Unterrichtseinheiten, die sich auf circa 8 Wochen verteilen
* Vormittagsunterricht:   Montag bis Freitag, 09:00 bis 12:30 Uhr
* Nachmittagsunterricht: Montag bis Freitag, 14:00 bis 17:30 Uhr
* Kursbeginn: für jede Stufe sechsmal pro Jahr (Januar, März, Mai, Juli, September, November)
* Termine der Tageskurse intensiv
* Preis 2021: 2000 TD
* Preis 2022: 2100 TD
* Mindestanwesenheit  30 Kurstage


-->





























