<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <!-- <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet"> -->
   

    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    

  
    
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mb-5">

            <div class="mb-5">
              <h3 class="text-black">Wer kann unsere Kurse besuchen?! </h3>
              <p class="mb-4">
            
              </p>
              <p> <h5 class=""> Lernende mit folgenden Schwerpunkte: </h5> 
                    
                <ul>
                    <li><strong>Familien Nachzug- Integrationskurse</strong></li>
                    <li><strong>Arbeitssuchende -Berufssprachkurse- Auszubildende</strong></li>
                    <li><strong>Deutsch Medizin und Plfege</strong></li>
                    <li><strong>Studenten</strong></li>
                    <li><strong>Familien Nachzug - Integrationskurse </strong>
                        <p> Unser neu entwickeltes, dreistufiges Lehrwerk wurde für den Unterricht in Integrationskursen konzipiert und vom DKFA zugelassen.
                            Kurs- & Arbeitsbuch
                            Das Kurs- und Arbeitsbuch umfasst sechs Teilbände von A1.1 bis B1.2.</p>
                       </li>
                 
                    <li>
                        <strong>Arbeitssuchende - Berufssprachkurse - Auszubildende</strong>

                      <p>  Am 1. Juli 2016 erweiterte der Bund das Angebot an berufsbezogener Sprachförderung für Menschen mit Migrationshintergrund: Die neuen Berufssprachkurse nach §45a AufenthG / DeuFöV wurden zu einem Regelinstrument der Sprachförderung des Bundes und bauen direkt auf den Integrationskursen auf.
                        Bereits seit Monaten ist die berufliche Integration von Zuwanderern in Deutschland eines der zentralen und wichtigen Themen womit des Internationalen Institut für Deutschkurse in Middel East und Afrika sich beschäftigt hat. Eine unser wichtigsten Ziele ist eine Erfolgreiche Vorbereitung der berufsbezogenen telc Prüfungen.
                        Unsere Kooperation mit dem Institut DKFA in München und derenExpertise im Bereich der berufsorientierten Deutschförderung bildet die Grundlage für die neuen Berufssprachkurse. 
                        
                        Das Gesamtprogramm Deutsch für den Beruf umfasst verschiedene Kompetenzfeststellungen, berufsbezogene Sprachprüfungen, Vorbereitung für Vorstellungsgespräche ein Verlagsprogramm sowie ein umfangreiches Qualifizierungsangebot für Kursleitende.
                        Natürlich für Medizin und Pflege gibt es spezielle Kurse und Lexikon. 
                        </p>

                    </li>


            <li> <strong> Deutsch Medizin und Plfege </strong>
       <p> Unterrichtsmaterial: Deutsch für Ärzte, Krankenschwestern, Krankenpflege 
    
        Unsere Materialien für den Unterricht von ausländischen Medizinerinnen und Mediziner haben wir vom telc Online-Shop bestellen. Einige Materialien stehen auch zum kostenlosen Download zur Verfügung.
    </p>
       
    Beispiel : <p>

         Studenten: Deutsch C1 Hochschule 
        Die Prüfung richtet sich an Erwachsene, die an einer deutschsprachigen Hochschule ein Studium aufnehmen möchten, die bereits studieren oder in einem akademischen Beruf arbeiten und ihre Deutschkenntnisse nachweisen möchten. <br>
        
        Ausländische Studierende müssen an deutschen Hochschulen ausreichende Sprachkenntnisse nachweisen. Durch Beschlüsse der Hochschulrektoren- und Kultusministerkonferenz wird die Prüfung DSH, Testdaf,  telc Deutsch C1 Hochschule anerkannt.
        Wir bieten folgende Kurse an : A1.1 bis B1.2. Im Rahmen unsere Vereinbarung Mit DKFA unser Studenten- Studentinnen, Schule werden das Niveau B2 und C1 bei der DKFA in München weiterhin absolvieren.

    </p>
    </li>

                </ul>
         
            
     
            
             

         
            </div>

           


          </div>
          
        </div>
      </div>
    </div>

    
  </div> <!-- .site-wrap -->


    
  </body>
</html>






 


