   
    



    <section class="text-dark p-1 text-left" id="">
        <div class="   banner  container d-lg-flex">
        
        
            <!--carousel-->
            <div id="carouselExampleIndicators" class="carousel slide  carousel-container  " data-bs-ride="carousel"  style="">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://as2.ftcdn.net/v2/jpg/01/03/48/63/1000_F_103486389_r4wxqngHRtKA9o3zw336Qvt73QDW91gr.jpg"class="d-block w-100 img-fluid carousel-img " alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://t3.ftcdn.net/jpg/02/11/55/40/240_F_211554085_SqQ9eZ9SyZn0sl0LH6grq5tPHrdjxU2F.jpg" class="d-block w-100 img-fluid carousel-img " alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://cdn.pixabay.com/photo/2019/07/29/04/35/student-4369850_960_720.jpg" class="d-block w-100 img-fluid carousel-img " alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators " data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
           <!--carousel ends-->
        
         <!--coordantes card-->
        
         <div class="card ms-auto w-25 w-sm-100" style="width: 18rem; ;">
          <div class="card-body" style="">
            <h5 class="card-title"></h5>
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            <p class="card-text ">  
              <div [ngSwitch]="language">

                <ul class="ms-auto list-unstyled " *ngSwitchCase="'fr'" >
             
                    <li class="px-2" > <h6>Deutschkurse in Middle East & Africa</h6></li>
                    <li  class="px-4 py-2"><img src="https://img.icons8.com/material-two-tone/18/000000/address--v1.png"/><span class="px-2">
                      64 Rue Habib Bourguiba Zaouit kontech Jammel 5028 Monastir Tunesien </span></li>
              
                      <li  class="px-4"><img src="https://img.icons8.com/material-two-tone/18/000000/address--v1.png"/><span class="px-2">
                             Avenue Ettaoufik  Cité Erriadh Sousse 4023  Tunesien (École Rahma)  </span></li>
              
                
                    <li  class="px-4 py-1"><img src="https://img.icons8.com/material-two-tone/18/000000/open-envelope.png"/><span class="px-2">E-Mail: info@dkma.tn</span></li>
                    <li  class="px-4 py-1"><img src="https://img.icons8.com/external-those-icons-lineal-color-those-icons/18/000000/external-phone-mobile-telephone-those-icons-lineal-color-those-icons-1.png"/><span class="px-2">Tel.: +49(0)89/244 10 49-0</span></li>
                   </ul>
                   <ul class="ms-auto list-unstyled " *ngSwitchCase="'de'" >
             
                    <li class="px-2" > <h6>Deutschkurse in Middle East & Africa</h6></li>
                    <li  class="px-4 py-2"><img src="https://img.icons8.com/material-two-tone/18/000000/address--v1.png"/><span class="px-2">
                      64 Rue Habib Bourguiba Zaouit kontech Jammel 5028 Monastir Tunesien </span></li>
              
                      <li  class="px-4"><img src="https://img.icons8.com/material-two-tone/18/000000/address--v1.png"/><span class="px-2">
                             Avenue Ettaoufik  Cité Erriadh Sousse 4023  Tunesien (École Rahma)  </span></li>
              
                
                    <li  class="px-4 py-1"><img src="https://img.icons8.com/material-two-tone/18/000000/open-envelope.png"/><span class="px-2">E-Mail: info@dkma.tn</span></li>
                    <li  class="px-4 py-1"><img src="https://img.icons8.com/external-those-icons-lineal-color-those-icons/18/000000/external-phone-mobile-telephone-those-icons-lineal-color-those-icons-1.png"/><span class="px-2">Tel.: +49(0)89/244 10 49-0</span></li>
                   </ul>




              </div>
        
                 <div class="d-flex justify-content-center">
        
                  <a href="#" class="card-link"><img src="https://img.icons8.com/cute-clipart/40/000000/instagram-new.png"/></a>
                  <a href="#" class="card-link"><img src="https://img.icons8.com/fluency/40/000000/facebook.png"/></a>
        
                 </div>
         
          </div>
        </div>
        
        
        
        </div>
        
        
        
        </section>
        