<!DOCTYPE html>
<html lang="en">
  <head>
    <title> &mdash; </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <!-- <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet"> -->
  
    
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    

  
    
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mb-5">

            <div class="mb-5">
              <h3 class="text-black">TAGESKURSE INTENSIV: TERMINE </h3>
              <p class="mb-4">
               <!-- <strong class="text-black mr-3">Schedule: </strong> MWF 9:30 - 11:00-->
              </p>
              <p>

              
              
            
     

               
           
Kurse auf allen Kursstufen: 148 Unterrichtsstunden

Der Kurs kann auch für vier Wochen gebucht werden (erste oder zweite Kurshälfte).





 

   <ul style="list-style-type: square;"> 
     
   
     
   

    
    
   
    
     

  
       <li><strong>  Termine 2021:</strong> 
        <ul style="list-style-type: disc;">
           <li> 11. Oktober 2021 bis 15. Dezember 2021</li>
       </ul>
    </li>
       <li><strong> Termine 2022:</strong>   <ul style="list-style-type: disc;">
        <li>  10. Januar 2022 bis 02. März 2022</li>
        <li> 07. März 2022 bis 28. April 2022 </li>
        <li>03. Mai 2022 bis 01. Juli 2022 (Kursferien: 07. Juni 2022 bis 10. Juni 2022)</li>
        <li>07. Juli 2022 bis 29. August 2022Sommerkurse und Standard Sommerkurse</li>
        <li>05. September 2022 bis 26. Oktober 2022</li>
        <li>Informieren Sie sich auch über unsere</li>
        <li>Standard Sommerkurse</li>
        <li>02. November 2022 bis 22. Dezember 2022</li>
    </ul></li>
 
  
            
  
   
     
   </ul>




 


      
      Sie können sich online anmelden (Online-Anmeldung unter "Intensivkurse") oder persönlich zu den Bürozeiten.
    Mehr Informationen zur <a href="application" style="text-decoration: none;"><strong>Anmeldung</strong></a>


   
             
    
                          
      
      
     <div class="row mb-4">
                <div class="col-md-6">
                 <!--image-->
                </div>
                <div class="col-md-6">
                <!--image-->
                </div>
              </div>
         
         <!--   admission button goes here   <p class="mt-4"><a href="#" class="btn btn-primary">Admission</a></p>-->
            </div>

           


          </div>
          
        </div>
      </div>
    </div>



  
    
  </div> <!-- .site-wrap -->


    
  </body>
</html>













<!--  




Termine 2021:

* 11. Oktober 2021 bis 15. Dezember 2021

Termine 2022:

* 10. Januar 2022 bis 02. März 2022
* 07. März 2022 bis 28. April 2022
* 03. Mai 2022 bis 01. Juli 2022 (Kursferien: 07. Juni 2022 bis 10. Juni 2022)
* 07. Juli 2022 bis 29. August 2022Sommerkurse und Standard Sommerkurse
* 05. September 2022 bis 26. Oktober 2022
* Informieren Sie sich auch über unsere
* Standard Sommerkurse
* 02. November 2022 bis 22. Dezember 2022



Impressum Kontakt Datenschutzerklärung


-->





























