<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
    <div class="site-wrap">
  
      
  
    
      
      <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 mb-5">
  
              <div class="mb-5">
                <h3 class="text-black">Allgemeine Geschäftsbedingungen (AGB) </h3>

                
  
                 <strong> Allgemeine Geschäftsbedingungen der Internationalen Institut für Deutschkurse in Middel East und Afrika</strong> <br> <br>
                 <strong class="text-black mr-3">(nachfolgend auch DKMA gennant) </strong>  – Stand 01.10.2021
              
  
              <ul class="list-unstyled">
                  <li>1. Voraussetzung für die Aufnahme in einen Kurs ist die Vorlage einer in Deutschland anerkannten Hochschulzugangsberechtigung nach den Regeln der Zentralstelle für das Auslandsschulwesen.</li>
                  <li>2. Der Unterrichtsvertrag kommt durch die Übersendung der Anmeldebestätigung zustande. Dies setzt voraus, dass der Teilnehmer die Anmeldegebühr geleistet hat. Nach dem Eingang der Anmeldegebühr wird die Anmeldung als Reservierung behandelt, diese verfällt, wenn die gesamte Kursgebühr nicht spätestens 14 Tage vor Kursbeginn bei den Deutschkursen eingegangen ist. Die Anmeldegebühren werden auf die Kursgebühren angerechnet.
                  </li>
                  <li>3. Mit Zahlung der Anmeldegebühr erkennt der Teilnehmer die Allgemeinen Geschäftsbedingungen der Deutschkurse als verbindlich an.</li>
                  <li>4. Bankgebühren gehen ausschließlich zu Lasten der Teilnehmer. Bei Rückerstattung wird die Kreditkartengebühr abgezogen.</li>
                  <li>5. Anmeldungen sind grundsätzlich nur für ganze Kurse möglich. Der Besuch von Teilen eines Kurses kann in begründeten Ausnahmefällen gestattet werden. Die Mindestdauer beträgt bei Zweimonatskursen eine Kurshälfte. Wird entsprechend dieser Regelung nur ein Teil des Kurses besucht, wird ein Aufschlag auf die anteilige Kursgebühr erhoben. (Die Preise sind der aktuellen Preisliste zu entnehmen.)</li>
                  <li>6. Die Einteilung in die geeignete Kursstufe erfolgt auf der Grundlage eines Einstufungstests, der in der Regel zwei bis vier Wochen vor Kursbeginn stattfindet. Teilnahmebescheinigungen anderer Sprachinstitute ersetzen nicht den Einstufungstest. Es besteht kein Anspruch auf den Besuch einer höheren als dem Testergebnis entsprechenden Kursstufe.</li>
                  <li>7. Bei Buchung der Option "Tageszeit nach Verfügbarkeit" werden bei der Verteilung der Teilnehmer auf die Vor- und Nachmittagskurse Wünsche nach Möglichkeit berücksichtigt. Es besteht jedoch kein Anspruch auf einen Kursplatz zu einer bestimmten Tageszeit. Die Nichtberücksichtigung eines entsprechenden Wunsches begründet keinen Anspruch auf Rückzahlung der Gebühren.</li>
                  <li>8. Soweit ein Kurs als Präsenzveranstaltung abgehalten wird, finden die Kurse an folgenden Standorten in Tunesien statt: 64 Rue Habib Bourguiba Zaouit Kontech Jammel 5028 Monastir, Avenue Ettaoufik Cité Erriadh Sousse. Es besteht kein Anspruch auf einen bestimmten Standort.</li>
                  <li>9. Mit der Anmeldung verpflichten sich die Teilnehmer zur regelmäßigen Kursteilnahme. Teilnahmebestätigungen können nur für regelmäßig besuchte Kurse ausgestellt werden.</li>
                  <li>10. Das Vorrücken in die nächsthöhere Kursstufe ist nur nach Bestehen der entsprechenden Zwischentests möglich.</li>
                  <li>11. Die DKMA bieten im Kooperation mit der DKFA folgende gebührenpflichtige Püfungen an:
                      <ul>
                          <li>
                               telc Deutsch B1
                             </li>
                          <li>telc Deutsch B2</li>
                          <li>Deutsche Sprachprüfung für den Hochschulzugang (DSH)</li>
                          <li>TestDaF</li>
                      </ul>
                  </li>
  
    
                  <li>  12. Ein Rücktritt vom Unterrichtsvertrag ist nur bis spätestens fünf Werktage vor dem Kursbeginn möglich. Erfolgt solch ein Rücktritt, so wird die Kursgebühr unter Einbehaltung der Anmeldegebühr auf Antrag zurückgezahlt. Dies gilt auch entsprechend bei Widerruf. Innerhalb von fünf Werktagen vor Kursbeginn und während der vereinbarten Dauer (zwischen dem 1. und dem letzten Kurstag) ist der Rücktritt bzw. die Kündigung ausgeschlossen. Ein Recht zur Kündigung besteht nicht. Das Recht zur fristlosen Kündigung aus wichtigem Grund bleibt unberührt. </li>
               <li> 13. Ein Rücktritt von einer Prüfung ist nur bis zum Ablauf der Anmeldefrist möglich. Erfolgt solch ein Rücktritt, wird eine Bearbeitungsgebühr einbehalten. (Der Preis ist der aktuellen Preisliste zu entnehmen.) Bei späterem Rücktritt wird die gesamte Prüfungsgebühr einbehalten. Ein Recht zur Kündigung besteht nicht. Das Recht zur fristlosen Kündigung aus wichtigem Grund bleibt unberührt.</li>
              <li> 14. Kündigungs- bzw. Rücktrittserklärungen sind nur wirksam, wenn sie schriftlich erfolgen. </li>
              <li>15. Wurde über die Anmeldung eine Bestätigung zur Vorlage bei einer deutschen Behörde ausgestellt, können Rückzahlungen nur nach Rückgabe des Originals dieser Bestätigung erfolgen.  </li>
              <li>16. Die DKMA behalten sich vor, einen Kurs wegen zu geringer Teilnehmerzahl oder wegen von ihnen nicht zu vertretenden Umständen mit einem anderen vergleichbaren Kurs zusammenzulegen, zu verschieben, online bzw. hybrid abzuhalten oder abzusagen.</li>
        <li>17
            <ul>
            <li>17.1 Im Fall der Durchführung eines Kurses als Online- oder Hybridveranstaltung obliegt es dem Teilnehmer, die für ihn hierfür erforderlichen technischen Voraussetzungen zu schaffen. </li>
            <li>17.2 Im Falle eines Rücktritts durch DKMA erhält der Teilnehmer etwaige bezahlte Vergütungen zurückerstattet. Weitere Ansprüche, insbesondere Schadensersatzansprüche, kann der Teilnehmer nicht geltend machen.
          </li>
        </ul>
    </li>
        <li>18. Soweit sich aus diesen Allgemeinen Geschäftsbedingungen einschließlich der nachfolgenden Bestimmungen nichts anderes ergibt, haften die DKMA bei einer Verletzung von vertraglichen und außervertraglichen Pflichten nach den einschlägigen gesetzlichen Vorschriften. Auf Schadensersatz haften die DKMA – gleich aus welchem Rechtsgrund – bei Vorsatz und grober Fahrlässigkeit. Bei einfacher Fahrlässigkeit haften die DKMA nur </li>
        <li>19.
            <ul>
            <li> a) für Schäden aus der Verletzung des Lebens, des Körpers oder der Gesundheit,</li>
            <li> b) für Schäden aus der Verletzung einer wesentlichen Vertragspflicht (Verpflichtung, deren Erfüllung die ordnungsgemäße Durchführung des Vertrags überhaupt erst ermöglicht und auf deren Einhaltung der Vertragspartner regelmäßig vertraut und vertrauen darf); in diesem Fall ist die Haftung jedoch auf den Ersatz des vorhersehbaren, typischerweise eintretenden Schadens begrenzt. </li>
           </ul>
  
        </ul>         
  
  
  
  
  
  
  
  
  
              
  <!--   <h3>WIDERRUFSBELEHRUNG BEI ONLINE-ANMELDUNGEN</h3>
  
              <strong>Widerrufsrecht</strong>
              <p>Sie können Ihre Vertragserklärung innerhalb von zwei Wochen ohne Angabe von Gründen in Textform (z.B. Brief, Fax, E-Mail) widerrufen. 
                  Die Frist beginnt nach Erhalt dieser Belehrung in Textform jedoch nicht vor Vertragsschluss und auch nicht vor Erfüllung unserer Informationspflichten.
                   Zur Wahrung der Widerrufsfrist genügt die rechtzeitige Absendung des Widerrufs. Der Widerruf ist zu richten an:
                   <ul><li>
                      Internationales Institut für Deutschkurse in Middel East und Afrika 
                      
                       
                      
                      
                       <ul class="list-unstyled"><li>64 Rue Habib Bourguiba Zaouit Kontech, </li>
                       <li>Jammel 5028 Monastir Tunesien</li>
                       <li>Telefon: +216 22 345 878</li>
                        <li>E-Mail: info@dkma……</li>
                         
                      </ul>
                       
  
                   </li></ul>
                  </p>  -->
  
  
  
             <strong> Widerrufsfolgen</strong>
             <p> Im Falle eines wirksamen Widerrufs sind die beiderseits empfangenen Leistungen zurückzugewähren und ggf. gezogene Nutzungen (z.B. Zinsen) herauszugeben. Können Sie uns die empfangene Leistung ganz oder teilweise nicht oder nur in verschlechtertem Zustand zurückgewähren, müssen Sie uns insoweit gegebenenfalls Wertersatz leisten. Dies kann dazu führen, dass Sie die vertraglichen Zahlungsverpflichtungen für den Zeitraum bis zum Widerruf gleichwohl erfüllen müssen. Verpflichtungen zur Erstattung von Zahlungen müssen innerhalb von 30 Tagen erfüllt werden. Die Frist beginnt für Sie mit der Absendung Ihrer Widerrufserklärung, für uns mit deren Empfang.
              Ihr Widerrufsrecht erlischt vorzeitig, wenn der Vertrag von beiden Seiten auf Ihren ausdrücklichen Wunsch vollständig erfüllt ist, bevor Sie Ihr Widerrufsrecht ausgeübt haben.
  </p>
  
  
  
  
     
               
    
                            
        
        
 
           
           <!--   admission button goes here   <p class="mt-4"><a href="#" class="btn btn-primary">Admission</a></p>-->
              
  
             
  
  
            </div>
            
          </div>
        </div>
      </div>
  
  
  
    
      
    </div> <!-- .site-wrap -->
  
    </div>
      
    </body>