<section id="banner-section">

    <div class="py-2 "style="" [ngSwitch]="language"> 
    
      <div class="alert alert-info container  d-flex justify-content-center " role="alert" style="" *ngSwitchCase="'de'">
       Kreativität und Kompetenz haben einen Namen “DKMA“
      </div>
      <div class="alert alert-info container  d-flex justify-content-center " role="alert" style="" *ngSwitchCase="'fr'">
        La créativité et la compétence ont un nom "DKMA"
       </div>
    
    </div>
    
    </section>