



<div [ngSwitch]="language">

    <nav  *ngSwitchCase="'de'" class="navbar navbar-expand-lg navbar-light  nav">
        <div class=" logo "><div class="" style="width: 100px;"><a href="#" class="navbar-brand"><img src="../../../assets/images/logo.png" alt="" class="logo-img"></a></div></div>
          
          <!-- <div class="collapse navbar-collapse"></div>    
           </div>-->
        
      
      
        <div class="" style="padding-left: 174px;">
          <!--<a class="navbar-brand" href="#">Navbar</a>-->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <div class="navigation ">
            <ul class="navbar-nav  mb-lg-0 ">
              <li class="nav-item">
                <a class="nav-link  navigation-item text-dark" aria-current="page" href="#">Home</a>
              </li>
            
      
      
           
      
      
      
              <li class="nav-item dropdown " style="padding-left: 35px;">
                <a class="nav-link dropdown-toggle navigation-item text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Anmeldung
                </a>
                <ul class="dropdown-menu px-5" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="wer-kann">Wer kann unsere Kurse besuchen?!</a></li>
                 
                  <li><a class="dropdown-item" href="wie-kann"> Wie können Sie sich anmelden?</a></li>
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html">Was brauchen wir bei Ihrer Anmeldung?</a></li>
      
      
      
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html">Wie werden Sie in einen Kurs eingeteilt?</a></li>
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html"> Unsere Standorte</a></li>
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html">Wie können Sie bezahlen?</a></li>
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html">  Wie können Sie sich abmelden?</a></li>
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html">   Allgemeine Geschäftsbedingungen (AGB)</a></li>
                 
                  
                  
                  
                  
                
                 
      
                </ul>
              </li>
      
      
      
      
              <li class="nav-item navigation-item"  style="padding-left: 35px;">
                <a class="nav-link text-dark " aria-current="page" href="#second-section">Neue Kurse </a>
              </li> 
      
              <li class="nav-item navigation-item"  style="padding-left: 35px;">
                <a class="nav-link text-dark " aria-current="page" href="uber-uns.html">Online Kurse </a>
              </li> 
      
      
      
             

             <li class="nav-item dropdown " style="padding-left: 35px;">
              <a class="nav-link dropdown-toggle navigation-item text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Über uns
              </a>
              <ul class="dropdown-menu px-5" aria-labelledby="navbarDropdown">
               
    
    
    
    
    
                <li><a class="dropdown-item" href="about"> uns</a></li>
                <li><a class="dropdown-item" href="https://www.dkfa.de/de/">Unsere Partner</a></li>
             
               
              </ul>
            </li>
    
              
              
              
              <li class="nav-item dropdown " style="padding-left: 35px;">
                <a class="nav-link dropdown-toggle navigation-item text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Kontakt
                </a>
                <ul class="dropdown-menu px-5" aria-labelledby="navbarDropdown">
                 
      
      
      
      
      
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html"> Adresse</a></li>
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html">So finden Sie uns</a></li>
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html">Öffnungszeiten</a></li>
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html">Front Office</a></li>
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html">Direktorin</a></li>
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html">Marketing</a></li>
                 
                </ul>
              </li>
      
      
              <li class="nav-item navigation-item"  style="padding-left: 35px;">
                <a class="nav-link text-dark " aria-current="page" href="uber-uns.html">Forum </a>
              </li> 
          
              
            
           
            
      
            </ul>
       </div>
            <form class="d-flex nav-form " style="padding-left: 80px;">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      
      
              <div class="dropdown px-3">
                <button class="btn  " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <img  class="" src="https://img.icons8.com/emoji/18/000000/germany-emoji.png"/>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a  class="dropdown-item" href="#"><img src="https://img.icons8.com/emoji/18/000000/united-kingdom-emoji.png"/> <span>English</span></a></li>
                  <li><a  class="dropdown-item" href="#"><img src="https://img.icons8.com/emoji/18/000000/france-emoji.png"/><span>Francais</span></a></li>
                  <li><a  class="dropdown-item" href="#"><img src="https://img.icons8.com/emoji/18/000000/tunisia-circular-emoji.png"/><span>العربية</span></a></li>
                  
                </ul>
              </div>
      
            </form>
          </div>
        </div>
      </nav>

      <nav  *ngSwitchCase="'fr'" class="navbar navbar-expand-lg navbar-light  nav">
        <div class=" logo "><div class="" style="width: 100px;"><a href="#" class="navbar-brand"><img src="../../../assets/images/logo.png" alt="" class="logo-img"></a></div></div>
          
          <!-- <div class="collapse navbar-collapse"></div>    
           </div>-->
        
      
      
        <div class="" style="padding-left: 150px;">
          <!--<a class="navbar-brand" href="#">Navbar</a>-->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <div class="navigation ">
            <ul class="navbar-nav  mb-lg-0 ">
              <li class="nav-item">
                <a class="nav-link  navigation-item text-dark" aria-current="page" href="#">Acceuil</a>
              </li>
            
      
      
           
      
      
      
              <li class="nav-item dropdown " style="padding-left: 30px;">
                <a class="nav-link dropdown-toggle navigation-item text-dark"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Application
                </a>
                <ul class="dropdown-menu px-5" aria-labelledby="navbarDropdown">
                  <li><a href="wer-kann" class="dropdown-item">Wer kann unsere Kurse besuchen?!</a></li>
                 
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html"> Wie können Sie sich anmelden?</a></li>
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html">Was brauchen wir bei Ihrer Anmeldung?</a></li>
      
      
      
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html">Wie werden Sie in einen Kurs eingeteilt?</a></li>
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html"> Unsere Standorte</a></li>
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html">Wie können Sie bezahlen?</a></li>
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html">  Wie können Sie sich abmelden?</a></li>
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html">   Allgemeine Geschäftsbedingungen (AGB)</a></li>
                 
                  
                  
                  
                  
                
                 
      
                </ul>
              </li>
      
      
      
      
              <li class="nav-item navigation-item"  style="padding-left: 25px;">
                <a class="nav-link text-dark " aria-current="page" href="#second-section">Nouveaux cours</a>
              </li> 
      
              <li class="nav-item navigation-item"  style="padding-left: 25px;">
                <a class="nav-link text-dark " aria-current="page" href="uber-uns.html">Cours en ligne </a>
              </li> 
      
              <li class="nav-item dropdown " style="padding-left:25px;">
                <a class="nav-link dropdown-toggle navigation-item text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  A propos
                </a>
                <ul class="dropdown-menu px-5" aria-labelledby="navbarDropdown">
                 
      
      
      
      
      
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html"> Notre equipe</a></li>
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html">Coopération</a></li>
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html">Öffnungszeiten</a></li>
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html">Front Office</a></li>
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html">Direktorin</a></li>
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html">Marketing</a></li>
                 
                </ul>
              </li>
      
          
              
              <li class="nav-item dropdown " style="padding-left:35px;">
                <a class="nav-link dropdown-toggle navigation-item text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Contact
                </a>
                <ul class="dropdown-menu px-5" aria-labelledby="navbarDropdown">
                 
      
      
      
      
      
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html"> Adresse</a></li>
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html">So finden Sie uns</a></li>
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html">Öffnungszeiten</a></li>
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html">Front Office</a></li>
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html">Direktorin</a></li>
                  <li><a class="dropdown-item" href="wer-kann-unsere-kurse-besuchen.html">Marketing</a></li>
                 
                </ul>
              </li>
      
      
              <li class="nav-item navigation-item"  style="padding-left:35px;">
                <a class="nav-link text-dark " aria-current="page" href="uber-uns.html">Forum </a>
              </li> 
          
              
            
           
            
      
            </ul>
       </div>
            <form class="d-flex nav-form " style="padding-left: 80px;">
              <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
      
      
              <div class="dropdown px-3">
                <button class="btn  " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://img.icons8.com/emoji/18/000000/france-emoji.png"/>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a (click)="switchEn()" class="dropdown-item" href="#"><img src="https://img.icons8.com/emoji/18/000000/united-kingdom-emoji.png"/> <span>English</span></a></li>
                  <li><a (click)="switchDe()" class="dropdown-item" href="#"> <img  class="" src="https://img.icons8.com/emoji/18/000000/germany-emoji.png"/><span>Deutsch</span></a></li>
                  <li><a  (click)="switchAr()"class="dropdown-item" href="#"><img src="https://img.icons8.com/emoji/18/000000/tunisia-circular-emoji.png"/><span>العربية</span></a></li>
                  
                </ul>
              </div>
      
            </form>
          </div>
        </div>
      </nav>

</div>





