<!DOCTYPE html>
<html lang="en">
  <head>
    <title> &mdash; </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <!-- <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet"> -->
  
    
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    

  
    
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mb-5">

            <div class="mb-5">
              <h3 class="text-black">GESPRÄCHSTRAINING </h3>
              <p class="mb-4">
               <!-- <strong class="text-black mr-3">Schedule: </strong> MWF 9:30 - 11:00-->
              </p>
              <p>

              
               <h6 class="text-black mr-3">Unser nächster Kurs: </h6>  
            
     

               



 

   <ul style="list-style-type: square;"> <li> <strong class="text-black mr-3">Zeit: </strong> Dienstag und Donnerstag, 14:00 bis 15:30 Uhr</li>
       <li><strong class="text-black mr-3">Beginn: </strong> 02. November 2021 - Ende: 25. November 2021</li>
  
     
           
  
       <li><strong>Gesamtvolumen:</strong> 16 Unterrichtseinheiten</li>
       <li><strong>Preis:</strong> 250TD  (günstige Paketpreise)</li>
       <li> <strong>ZIELSETZUNG</strong>
       <p> Im Kurs "Gesprächstraining für Fortgeschrittene " erweitern Sie Ihre persönlichen Ausdrucksmöglichkeiten auf hohem Niveau. Sie optimieren die Fertigkeit, spontan sprachlich zu reagieren.</p>
         </li>
       <li> <strong>ZIELGRUPPE</strong>
      <p> Fortgeschrittene Lerner des Deutschen, die ihre schon guten mündlichen Kenntnisse verbessern wollen.
       Sprachliche Mindestvoraussetzung: Stufe B2 (nach dem Gemeinsamen Europäischen Referenzrahmen)
       Teilnehmerzahl: ca. 15
    </li>
       <li>

        <strong>INHALTE</strong>
       <p style="">   Schwerpunkt: Freies Sprechen und Präsentationstechniken </p>
      <ul class="">
          <li>   Wortschatz und Redebausteine für Präsentationen</li>
          <li>Stimmübungen, persönliches Auftreten, Gestik, Mimik, Körpersprache</li>
          <li> Erarbeitung typischer Präsentationstechniken (z.B. Zielgruppenanalyse, Gliederung, Inhalt und Aufbau, Dramaturgie, Manuskript, Karteikarten, Erstellung von Handouts, PowerPoint als Medium der Präsentation, Erarbeitung und Gestaltung von aussagekräftigen Folien, Verwendung von Schaubildern und Diagrammen, Zeitmanagement)</li>
          <li>Strategien für die Diskussion (z.B. Fragen umformulieren, Rückfragen stellen, Unwissenheit zugeben, auf Einwände und aggressive Fragen reagieren, Danksagung)</li>
          <li>Umgang mit Nervosität, Lampenfieber und Pannen</li>
          <li>Schulung der Aussprache und Intonation</li>
          <li>Schulung des flüssigen, freien Sprechens</li>
      </ul>
       </li>
       <li>  <strong> ANMELDUNG</strong>
       
        <ul>  <p>Die Anmeldung erfolgt online unter:  </p> 
            <li><a href="application" style="text-decoration: none;"> <strong>Online Anmeldung </strong> </a></li>
            <li><a href="" style="text-decoration: none;" >Online-Anmeldung unter "Spezialkurse" oder persönlich zu den Bürozeiten</a></li>
            <li><a href="" style="text-decoration: none;">Mehr Informationen zur Anmeldung</a></li>
        </ul>
        </li>
     
   </ul>




 



            


   
             
    
                          
      
      
     <div class="row mb-4">
                <div class="col-md-6">
                 <!--image-->
                </div>
                <div class="col-md-6">
                <!--image-->
                </div>
              </div>
         
         <!--   admission button goes here   <p class="mt-4"><a href="#" class="btn btn-primary">Admission</a></p>-->
            </div>

           


          </div>
          
        </div>
      </div>
    </div>



  
    
  </div> <!-- .site-wrap -->


    
  </body>
</html>













<!--  

GESPRÄCHSTRAINING 

Unser nächster Kurs:
Zeit: Dienstag und Donnerstag, 14:00 bis 15:30 Uhr
Beginn: 02. November 2021
Ende: 25. November 2021
Gesamtvolumen: 16 Unterrichtseinheiten
Preis: 250TD  (günstige Paketpreise)
ZIELSETZUNG
Im Kurs "Gesprächstraining für Fortgeschrittene " erweitern Sie Ihre persönlichen Ausdrucksmöglichkeiten auf hohem Niveau. Sie optimieren die Fertigkeit, spontan sprachlich zu reagieren.
ZIELGRUPPE
Fortgeschrittene Lerner des Deutschen, die ihre schon guten mündlichen Kenntnisse verbessern wollen.
Sprachliche Mindestvoraussetzung: Stufe B2 (nach dem Gemeinsamen Europäischen Referenzrahmen)
Teilnehmerzahl: ca. 15
INHALTE
Schwerpunkt: Freies Sprechen und Präsentationstechniken
* Wortschatz und Redebausteine für Präsentationen
* Stimmübungen, persönliches Auftreten, Gestik, Mimik, Körpersprache
* Erarbeitung typischer Präsentationstechniken (z.B. Zielgruppenanalyse, Gliederung, Inhalt und Aufbau, Dramaturgie, Manuskript, Karteikarten, Erstellung von Handouts, PowerPoint als Medium der Präsentation, Erarbeitung und Gestaltung von aussagekräftigen Folien, Verwendung von Schaubildern und Diagrammen, Zeitmanagement)
* Strategien für die Diskussion (z.B. Fragen umformulieren, Rückfragen stellen, Unwissenheit zugeben, auf Einwände und aggressive Fragen reagieren, Danksagung)
* Umgang mit Nervosität, Lampenfieber und Pannen
* Schulung der Aussprache und Intonation
* Schulung des flüssigen, freien Sprechens
ANMELDUNG
Die Anmeldung erfolgt online unter:   
Online Anmeldung, link 
Online-Anmeldung unter "Spezialkurse" oder persönlich zu den Bürozeiten
Mehr Informationen zur Anmeldung


-->





























