<!DOCTYPE html>
<html lang="en">
  <head>
    <title> &mdash; </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
 

    
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    

  
    
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mb-5">

            <div class="mb-5">
              <h3 class="text-black">WIE KÖNNEN SIE SICH ANMELDEN? </h3>
              <p class="mb-4">
               <!-- <strong class="text-black mr-3">Schedule: </strong> MWF 9:30 - 11:00-->
              </p>
              <p>

            
 


                     <ul>
                         <li>             <strong>Persönlich in unserem Büro in der :  </strong>  

                              <ul>
                                  <li> 64 Rue Habib Bourguiba Zaouit kontech Jammel 5028 Monastir Tunesien        </li>
                                  <li>  Avenue Ettaoufik  Cité Erriadh Sousse 4023  Tunesien (École Rahma)</li>
                              </ul>
                            
                            </li>
                         <li>  <strong><a href="application" style="text-decoration: none;">Online-Anmeldung</a></strong> </li>
                         
                     </ul>



             
    
                          <div class="row mb-4">
                <div class="col-md-6">
                 <!--image-->
                </div>
                <div class="col-md-6">
                <!--image-->
                </div>
              </div>
         
         <!--   admission button goes here   <p class="mt-4"><a href="#" class="btn btn-primary">Admission</a></p>-->
            </div>

           


          </div>
          
        </div>
      </div>
    </div>



  
    
  </div> <!-- .site-wrap -->


    
  </body>
</html>




